<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onPackageSetup" fire="\QUI\ERP\Customer\EventHandler::onPackageSetup"/>
    <event on="onAdminLoadFooter" fire="\QUI\ERP\Customer\EventHandler::onAdminLoadFooter"/>
    <event on="onUserExtraAttributes" fire="\QUI\ERP\Customer\EventHandler::onUserExtraAttributes"/>
    <event on="onUserSaveEnd" fire="\QUI\ERP\Customer\EventHandler::onUserSaveEnd"/>
    <event on="onQuiqqerOrderCustomerDataSaveEnd"
           fire="\QUI\ERP\Customer\EventHandler::onQuiqqerOrderCustomerDataSaveEnd"
    />
</events>
