<?xml version="1.0" encoding="UTF-8"?>
<menu>

    <item parent="/apps/"
          name="customer"
          require="package/quiqqer/customer/bin/backend/controls/AdministrationPanel"
          icon="fa fa-user-o"
          permission="quiqqer.customer.view"
    >
        <locale group="quiqqer/customer" var="menu.erp.customer.title"/>
    </item>

</menu>
