.quiqqer-customer-panel .qui-panel-buttons .qui-button-switch {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.quiqqer-customer-panel .qui-panel-buttons .qui-button-switch-switch {
    padding-top: 17px;
}

.quiqqer-customer-address-add {
    padding-top: 0 !important;
}

.quiqqer-customer-address-add > div {
    justify-content: flex-end;
}

.quiqqer-customer-address-select [name="address-country"] {
    width: 30%;
}


/** comments
 ===================================== */

.quiqqer-customer-comments {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.quiqqer-customer-comments-header {
    background: #f7f7f7;
    display: inline-block;
    padding: 20px;
    width: 100%;
}

.quiqqer-customer-comments-header-filter {
    float: left;
}

.quiqqer-customer-comments-header-filter input {
    width: 300px;
}

.quiqqer-customer-comments-list {
    display: inline-block;
    overflow: auto;
    padding: 20px;
    width: 100%;
}


[name="quiqqer-erp-determine-calc-status"] {
    cursor: pointer;
}

.window-price-calc-text:hover {
    opacity: 1;
}

.window-price-calc-text p {
    margin-bottom: 10px;
}

.window-price-calc-text p:last-child {
    margin-bottom: 0;
}
