.quiqqer-customer-panel .qui-panel-buttons .qui-button-switch {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.quiqqer-customer-panel .qui-panel-buttons .qui-button-switch-switch {
    padding-top: 17px;
}

.quiqqer-customer-address-add {
    padding-top: 0 !important;
}

.quiqqer-customer-address-add > div {
    justify-content: flex-end;
}

.quiqqer-customer-address-select select:focus,
.quiqqer-customer-address-select input:focus {
    z-index: 1;
}

.quiqqer-customer-address-select [name="address-country"] {
    width: 30%;
}

.quiqqer-customer-address-select [name="address-zip"] {
    border-radius: 0;
    border-right: 1px solid rgba(147, 128, 108, 0.25);
}

.quiqqer-customer-panel-extrasbtn .qui-button-multiple-dd {
    display: none !important;
}

.quiqqer-customer-panel-extrasbtn > button {
    padding: 0 !important;
    text-align: center;
    width: 50px;
}

.quiqqer-customer-delete {
    width: 50px;
}

.quiqqer-customer-panel-extrasbtn > button .qui-button-multiple-textimage {
    float: none;
}

/** comments
 ===================================== */

.quiqqer-customer-comments {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.quiqqer-customer-comments-header {
    background: #f7f7f7;
    display: inline-block;
    padding: 20px;
    width: 100%;
}

.quiqqer-customer-comments-header-filter {
    float: left;
}

.quiqqer-customer-comments-header-filter input {
    width: 300px;
}

.quiqqer-customer-comments-list {
    display: inline-block;
    overflow: auto;
    padding: 20px;
    width: 100%;
}


[name="quiqqer-erp-determine-calc-status"] {
    cursor: pointer;
}

.window-price-calc-text:hover {
    opacity: 1;
}

.window-price-calc-text p {
    margin-bottom: 10px;
}

.window-price-calc-text p:last-child {
    margin-bottom: 0;
}

/**
 * Edit customer no.
 */
.quiqqer-customer-customerNo-edit-inputs {
    display: flex;
}

.quiqqer-customer-customerNo-edit {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    clear: both;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.quiqqer-customer-customerNo-edit label {
    clear: both;
    display: block;
    margin: 20px auto;
    text-align: left;
    width: 250px;
}

.quiqqer-customer-customerNo-edit input {
    clear: both;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.quiqqer-customer-customerNo-edit-prefix {
    margin-right: 10px !important;
    text-align: right !important;
    width: 100px !important;
}

.quiqqer-customer-customerNo-edit-prefix > input {
    padding-right: 0;
    text-align: right;
}

.quiqqer-customer-customerNo-edit-nextId {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    width: 100%;
}

/**
 * Comments
 */
form[name="customer-information"] .comments {
    max-height: 550px;
    float: left;
    overflow: auto;
}

/**
 * Pagination
 */
.comments-pagination {
    height: 45px;
    bottom: 0;
    float: left;
    width: 50%;
}

.comments-pagination .quiqqer-sheets-desktop,
.comments-pagination .quiqqer-pagination {
    float: left;
    width: calc(100% - 24px) !important;
}

.comments-pagination .quiqqer-sheets-sheet,
.comments-pagination .quiqqer-sheets-first,
.comments-pagination .quiqqer-sheets-last,
.comments-pagination .quiqqer-sheets-next,
.comments-pagination .quiqqer-sheets-prev {
    color: black;
    width: 30px;
}

.comments-pagination .quiqqer-sheets-desktop-current {
    color: white;
}

.comments-pagination .quiqqer-sheets-desktop {
    margin: 0 !important;
}

.qui-media-pagination .quiqqer-sheets-desktop a {
    color: #212527;
}

.qui-media-pagination .quiqqer-sheets-desktop-current {
    color: #efefef !important;
}

.qui-media-pagination .quiqqer-sheets-desktop a:hover {
    color: #a4a4a4;
}

.quiqqer-customer__hidden {
    display: none;
}