.quiqqer-customer-panel .qui-panel-buttons .qui-button-switch {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.quiqqer-customer-panel .qui-panel-buttons .qui-button-switch-switch {
    padding-top: 17px;
}

