.quiqqer-customer-administration {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

/** header / search / filter
 =============================== */

.quiqqer-customer-administration-search {
    background: #e1e4e9;
    clear: both;
    height: 70px;
    width: 100%;
}

.quiqqer-customer-administration-search [name="customer-search"] {
    float: left;
    padding: 20px;
    width: calc(100% - 200px);
}

.quiqqer-customer-administration-search [name="add"] {
    margin-right: 10px;
}

.quiqqer-customer-administration-search [name="filter"] {
    display: inline-block;
    float: initial;
    margin-left: 10px;
}

.quiqqer-customer-administration-search [name="search"] {
    float: left;
    width: 280px;
}

.quiqqer-customer-administration-search [name="submit"] {
    border: none;
}

.quiqqer-customer-administration-search-filter {
    background: #eff0f3;
    clear: both;
    display: block;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}

.quiqqer-customer-administration-search-filter section {
    display: inline-block;
    width: 100%;
}

.quiqqer-customer-administration-search-filter input {
    padding: 2px;
    font-size: 12px;
}

.quiqqer-customer-administration-search-filter .title {
    display: inline-block;
    padding-bottom: 5px;
    width: 100%;
}

.quiqqer-customer-administration-search-filter section + section {
    margin-top: 20px;
}

.quiqqer-customer-administration-search-filter-checks label {
    float: left;
    width: 25%;
}

.quiqqer-customer-administration-search-filter-specs label {
    float: left;
    width: 25%;
}

.quiqqer-customer-administration-search .qui-switch {
    margin-top: 25px !important;
}

.quiqqer-customer-administration-editableButton {
    cursor: pointer;
    float: right;
    line-height: 70px;
    margin-left: 20px;
    padding: 0 20px;
}

.quiqqer-customer-administration-editableButton:hover {
    background: rgba(0, 0, 0, 0.1);
}

.quiqqer-customer-administration-editableButton--active {
    background: rgba(0, 0, 0, 0.1);
}

/** grid / result
 =============================== */

.quiqqer-customer-administration-grid {
    clear: both;
    flex-grow: 1;
    overflow: hidden;
    padding: 20px;
    width: 100%;
}

/** customer panel in grid
 =============================== */

.quiqqer-customer-administration-customer {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
