.quiqqer-discount-SelectItem-inactive {
    color: #ff0000;
}

.quiqqer-customer-files-select-item-title {
    display: inline-block;
}

.qui-elements-selectItem-download,
.qui-elements-selectItem-attachment {
    cursor: pointer;
    float: left;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    width: 30px;
}

.qui-elements-selectItem:hover .qui-elements-selectItem-download,
.qui-elements-selectItem:hover .qui-elements-selectItem-attachment {
    visibility: visible !important;
}

.qui-elements-selectItem-download:hover,
.qui-elements-selectItem-attachment:hover {
    background: #2F8FC6 !important;
    color: #FFFFFF !important;
}

.qui-elements-selectItem-text {
    width: calc(100% - 120px) !important;
}